.barra{
	background: #41a85f; /* color verde de pagina*/
	height: 100px;
}

.logo{
	width: 80px;
	height: 80px;
}

.lista{
	margin-top: -16px;
	margin-left: 380px;
	font-size: 17px;
}

.navbar-inverse .navbar-nav > li > a{
	color:#ffe200; /* color amarillo de pagina*/
}



.navbar-inverse .navbar-brand  {
    color: #ffe200;
    
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #ffe200;
    background-color: #41a85f;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #41a85f;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffe200;
    white-space: nowrap;
}

/* esto es css de eal boton responcive del nav*/

.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #41a85f;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffe200;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #41a85f;
}

/* aqui va el footer*/

.footer{
   
      position: fixed;
      bottom: 0px;
      left: 0px;
      padding: 0px;
      margin: 0px;
      width: 100%;
      background-color: rgb(50, 50, 50);
      height: 40px;
      color: white;
      text-align: center;


}
.jumbotron{
    background-color: #41a85f;
    margin-top: 80px;
}

.mantenimiento{
    color: #ffe200;
}
.jumbotron .titulo{
    font-size: 100px;
    color: #ffe200; 
}


.letra {
    position: relative;
    top: 9px;


}


li a:hover {

    color:black;
}


.titulo {

    font-size: 1.5em;

}

.form-control {

    border: 1px solid #e8e8e8;
    background-color: #f5f5f5;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 0.5em 1.07em 0.5em;
}

.btn-success {

    color: #fff;
background-color: #6a8153;
border-color: #6a8153;
}

.btn-info {

        background-color: #545f60;
    border-color: #7e9b9f;
    box-shadow: none;
    color: #fff;
}
}